body {
    background-image:url(./images/background\ -forest.png);
    background-position: center;   
}
h1 {
    text-shadow: 2px 2px 8px black;
} 
.navbar {
    opacity: 50%;
}
.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar-link:hover {
    color: black;
    text-decoration: none;
}
.occupation {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;   
}